body {
	margin: 0;
	height: 100%;
	width: 100%;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	margin: 15% auto;
}

#game-board {
	padding: 12px;
}

.card {
    cursor: pointer;
}

.flash {
    animation-name: flash;
    animation-duration: 160ms;
    animation-timing-function: cubic-bezier(0.000, 1.275, 0.095, 0.830);
    animation-iteration-count: 2;
}

@keyframes flash {
    0% {
        background: transparent;
    }
    
    50% {
        background: #ccc;
    }
    
    100% {
        background: transparent;
    } 
}

